# OpenTextGrid.vm
#
# Author: Greg J. Hedlund <ghedlund@mun.ca>
#
# Velocity template for opening a TextGrid in Praat
#
# Required Arguments:
#  - recordId: The uuid of the phon record
#  - soundFile: the wav file
#  - tgFile: TextGrid file location
#

# sound and textgrid files
recordId$ = "$recordId"
sound$ = "$soundFile"
textGrid$ = "$tgFile"

# Setup interval
start = $interval.startValue / 1000.0
end = $interval.endValue / 1000.0
preserveTimes$ = "yes"

# Setup objects
snd = Open long sound file... 'sound$'
segment = Extract part... start end 'preserveTimes$'
tg = Read from file... 'textGrid$'
select tg

# Open TextGrid editor
select segment
plus tg
View & Edit
